body {
    background-color: rgba(246, 246, 200, 0.921);
}

.flex {
    display: flex;
    position: absolute;
}

.side img {
    bottom: 79px;
    left: 1000px;
    position: relative;
}

.margin {
    margin-top: 60px;
}

.grocery {
    background-color: rgba(255, 173, 173, 0.849);
    height: 230px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
    /* position: relative; */
}

.veg {
    background-color: rgb(173, 235, 111);
    height: 230px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}

.drink {
    background-color: rgba(129, 225, 249, 0.648);
    height: 230px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}

.baked {
    background-color: rgba(249, 249, 133, 0.706);
    height: 230px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}

.medicine {
    background-color: rgba(146, 238, 146, 0.648);
    height: 220px;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}
.discount{
    text-decoration: underline gold;
    text-decoration-thickness:5px;
    margin-top: 2px;
}
.photo_1{
    height: 350px;
    width: 320px;
    left: 850px;
    top: 120px;
    position: absolute;
}
.photo_2{
    height: 210px;
    width: 210px;
    left: 850px;
    top: 430px;
    position: absolute;
}
.photo_3{
    height: 250px;
    width: 230px;
    left: 850px;
    top: 651px;
    position: absolute;
}
.photo_4{
    height: 300px;
    width: 270px;
    left: 850px;
    top: 880px;
    position: absolute;
}
.photo_5{
    height: 270px;
    width: 240px;
    left: 850px;
    top: 1150px;
    position: absolute;
}